
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


/* styles about us */
.about {
  display: flex;
  margin: 100px;
}
.about div svg {
  fill: #2e9393;
  width: 25px;
  height: 25px;
}
.caption {
  display: inline-block;
  margin: 0 0 15px 10px;
  font-weight: 700;
  font-size: 36px;
}
.img-container img {
  width: 700px;
}
.next-caption {
  margin: 15px 0;
  font-weight: 600;
}
.about .button {
  width: 150px;
  height: 50px;
  border: 1px solid #18A0FB;
  border-radius: 10px;
  color: #18A0FB;
  text-decoration: none;
  margin: 50px 0;
}




/*Navegacion*/
#nav {
    background-color: rgb(255, 255, 255);
    height: 10vh; 
    padding: 0 100px;   
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
#list, #list1, #list2 {
    position: relative;
    display: flex;
    list-style: none;
    
}
#list1, #list2 button {
    font-weight: 100;
    font-size: 1.1rem;
}

#list {
    display: flex;
    align-items: center;
}
#list h2 {
    padding-left: 10px;
        font-weight: 100;
        font-size: 2rem;

}

.item {
    margin: 0 20px;
}
.item:hover , .btn:hover {
        cursor: pointer;

}
.btn {    
    border: none;
    padding: 10px 40px;
    margin: 0 8px;
    border-radius: 5px;
}
.b1 {
    border: 2px solid blue;
    color: blue;    
    background-color: rgb(255, 255, 255);

}
.b2 {
    background-color: blue;
    color: white;
    border: 2px solid blue;

}
/*Navegacion*/
/*portada*/
#portada {
    background-color: rgb(78, 205, 255);
    height: 90vh;
    width: 100%;
}
#img1 {
    position: absolute;
    top: 10vh;
    right: 10vw;
    display: block;
    height: 570px;
}
#texto1 {
    height: 100%;
    width: 60%;
    display: flex;
    padding-right: 200px;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 140, 178, 0.729);
    clip-path: polygon(0% 0%, 83% 0%, 100% 50%, 73% 100%, 0% 100%);
}
.text1 {
    width: 70%;
       text-align: center;

}
.p1, .head1 {
    text-align: left;
}
.head1 {
    font-size: 3.5rem;
}
.p1 {
    margin: 40px 10px;
    line-height: 1.5rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btn1 {
    font-size: 1rem;
    background-color: rgb(40, 2, 255);
    color: white;
    border: none;
    padding: 10px 45px;
    border-radius: 5px;

}
/*fin de portada*/
/*inicio de seccion*/


#sec3 {
    background-color: rgb(160, 246, 247);
    margin: 0 auto;
    height: 100vh;
    display: grid;
    align-items: center;
}
#gl-3 {
    margin: 0 auto;
    display: none;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: red;
}
.pic {
    background-position: center center;
    background-size:cover;
    min-height: 100%;
}
.d1 , .d2 {
    overflow: hidden;    
    display: grid;
    width: 60%;

}
.d1 {
    height: 280px;    
    border-radius: 20px;

    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100%;
    background-color: red;
}
.d2 {
    height: 120px;
    grid-template-columns: 85% 15%;
    grid-template-rows: 100% 100%;
    background-color: rgb(134, 94, 175);
}
.p-d1, .p-d2 {display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 168, 100);
    padding: 20px;
}
/*fin de seccion*/
