
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


/* styles about us */
.about {
  display: flex;
  margin: 100px;
}
.about div svg {
  fill: #2e9393;
  width: 25px;
  height: 25px;
}
.caption {
  display: inline-block;
  margin: 0 0 15px 10px;
  font-weight: 700;
  font-size: 36px;
}
.img-container img {
  width: 700px;
}
.next-caption {
  margin: 15px 0;
  font-weight: 600;
}
.about .button {
  width: 150px;
  height: 50px;
  border: 1px solid #18A0FB;
  border-radius: 10px;
  color: #18A0FB;
  text-decoration: none;
  margin: 50px 0;
}




/*Navegacion*/
#nav {
    background-color: rgb(255, 255, 255);
    height: 10vh; 
    padding: 0 100px;   
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
#list, #list1, #list2 {
    position: relative;
    display: flex;
    list-style: none;
    
}
#list1, #list2 button {
    font-weight: 100;
    font-size: 1.1rem;
}

#list {
    display: flex;
    align-items: center;
}
#list h2 {
    padding-left: 10px;
        font-weight: 100;
        font-size: 2rem;

}

.item {
    margin: 0 20px;
}
.item:hover , .btn:hover {
        cursor: pointer;

}
.btn {    
    border: none;
    padding: 10px 40px;
    margin: 0 8px;
    border-radius: 5px;
}
.b1 {
    border: 2px solid blue;
    color: blue;    
    background-color: rgb(255, 255, 255);

}
.b2 {
    background-color: blue;
    color: white;
    border: 2px solid blue;

}
/*Navegacion*/
/*portada*/
#portada {
    background-color: rgb(78, 205, 255);
    height: 90vh;
    width: 100%;
}
#img1 {
    position: absolute;
    top: 10vh;
    right: 10vw;
    display: block;
    height: 570px;
}
#texto1 {
    height: 100%;
    width: 60%;
    display: flex;
    padding-right: 200px;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 140, 178, 0.729);
    clip-path: polygon(0% 0%, 83% 0%, 100% 50%, 73% 100%, 0% 100%);
}
.text1 {
    width: 70%;
       text-align: center;

}
.p1, .head1 {
    text-align: left;
}
.head1 {
    font-size: 3.5rem;
}
.p1 {
    margin: 40px 10px;
    line-height: 1.5rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btn1 {
    font-size: 1rem;
    background-color: rgb(40, 2, 255);
    color: white;
    border: none;
    padding: 10px 45px;
    border-radius: 5px;

}
/*fin de portada*/
/*inicio de seccion*/


#sec3 {
    background-color: rgb(206, 250, 255);
    margin: 0 auto;
    height: 100vh;
    display: grid;
    align-items: center;
}
.h2 {
    font-size: 2.6rem;
}
.he4 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: rgb(132, 26, 26)
}
.he5 {
    color: rgb(72, 15, 126);
    font-size: 1.2rem;
    margin-bottom: 10px;
}
#gl-3 {
    margin: 0 auto;
    display:grid;
    align-items: center;
    justify-items: center;
    width: 80%;
    gap:55px;
}
.im {
    
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    box-shadow: none;
    transform: scale(1.04);
    
}
.pic {
    margin: 0; padding: 0;
box-sizing: border-box;
overflow: hidden;    

background-size:cover
}
.d1 , .d2 {
    overflow: hidden;    
    display: grid;
    width: 80%;
   box-shadow: 1px 5px 5px rgb(125, 125, 125);

}
.d1 {
    height: 280px;    
    border-radius: 20px;

    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100%;
    background-color: rgb(206, 201, 201);
}
.d2 {
    height: 140px;
    grid-template-columns: 83% 17%;
    grid-template-rows: 100% 100%;
    background-color: rgb(187, 187, 207);
}
.div-d2 {
    width: 30%;
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    background-color: rgb(59, 59, 59);
    height: 30px;
    
}
.p-d1, .p-d2 {
    display: block;
    align-items: center;
    justify-items: center;
    padding: 30px;
    line-height: 1.5rem;
}
.p-d1 {
    padding: 60px;
}
/*fin de seccion*/
#sec4 {
    height: 100vh;
    background-color: #739c9c;
    display: flex; 
    justify-content: center;
    align-items: center;
}
#reviews {
    display: grid;
    grid-template-columns: repeat(3,33.3%);
   
    gap: 30px;
}
.perfil {
    height: 90px;
    width: 90px;
    border-radius: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.ch1 {
    margin: 20px 0px;
}
.cont {
    height: 500px;
    width: 300px;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px gray;
    padding: 40px;
}